@import './bootstrap/variables';
@import "../node_modules/bootstrap/scss/mixins";

.page-component{


    @include media-breakpoint-up(md) {
       /* margin-left: 5rem;
        margin-right: 5rem;
        margin-bottom: 5rem;*/
        //margin-top: 5rem;

        //padding-top: 2rem;
       /* padding-bottom: 2rem;*/

    }

    .w-md-100{

        width: 100%;
        @include media-breakpoint-up(md) {
            width: auto;
        }
    }


    .body-text-container{

        @include media-breakpoint-up(xl) {
            max-width: 70%;
        }

        @include media-breakpoint-down(lg) {
            max-width: 100%;
        }

        /*@include media-breakpoint-up(sm) {
            max-width: 100%;
        }*/
    }


    .body-text{
        color:#dadada;
    }

    .use-background{
        background:rgba(39,39,39,1);
    }

}


