.trans-link{
    color:white;

    h1{
        opacity:1;
    }

    user-select: none;
    -webkit-user-drag: none;
}


.trans-link:hover{
    color:none;

    h2{
        color:white;
    }


    p{
        color:white;
    }
}
