@import "../../styles/bootstrap/variables";
@import "node_modules/bootstrap/scss/mixins";

// Used on LogoHeaderAnimation and HeaderAnimation

.header-animation {
  text-shadow: 3px 3px 5px rgba(45, 45, 45, 0.7);
  &.index-page {
    height: 100vh;
  }

  .subhead {
    width: 100%;
    @include media-breakpoint-up(md) {
      width: 50%;
    }
  }

  .txt-container {
    padding-left: 10%;

    @include media-breakpoint-up(md) {
      padding-left: 10%;
    }

    .display-txt {
      font-size: 2.5rem;

      @include media-breakpoint-up(md) {
        font-size: 4.5rem;
      }
    }
  }

  .head-txt {
    width: 100%;
    @include media-breakpoint-up(lg) {
      width: 75%;
    }
    @include media-breakpoint-up(xl) {
      width: 67%;
    }
  }
}
