.page-list{

    .item-overlay-0 {
        background: linear-gradient( 320deg, rgba(0,0,0, 0 ) 0% 40% , rgba(0,0,0, .8) 100% );
    }
    .item-overlay-1 {
        background: linear-gradient( 220deg,  rgba(0,0,0, 0 ) 0% 40% , rgba(0,0,0,.8) 100% );
    }

    .item-overlay-2 {
        background: linear-gradient( 20deg , rgba(0,0,0, 0 ) 0% 40% , rgba(0,0,0,.8) 100% );
    }



    .listItem{



    }


}
